<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="powertoys" version="0.89.0"/>
	<package id="networkmanager" version="2025.1.18"/>
	<package id="discord" version="1.0.9185"/>
	<package id="microsoft-teams-new-bootstrapper" version="1.0.2414501"/>
	<package id="teamviewer" version="15.63.5"/>
	<package id="winrar" version="7.10.0"/>
	<package id="opera-gx" version="116.0.5366.87"/>
	<package id="steam" version="3.10.91.91241028"/>
	<package id="rdcman" version="2.93.1431"/>
	<package id="googlechrome" version="134.0.6998.36"/>
	<package id="zoom" version="6.3.11.60501"/>
	<package id="notepadplusplus" version="8.7.8"/>
	<package id="putty.install" version="0.83.0"/>
	<package id="winscp.install" version="6.3.7"/>
	<package id="audacity" version="3.7.1"/>
	<package id="virtualbox" version="7.1.6"/>
	<package id="obs-studio.install" version="31.0.2"/>
	<package id="adobereader" version="2024.5.20414"/>
	<package id="libreoffice-fresh" version="25.2.0"/>
	<package id="reaper" version="7.8.29"/>
	<package id="ultraschall" version="5.0.3"/>
</packages>